<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gu.Wpf.Adorners" version="2.1.1" targetFramework="net472" />
  <package id="Konscious.Security.Cryptography.Blake2" version="1.1.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.4" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="TextCopy" version="6.1.0" targetFramework="net472" />
</packages>