<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gu.Wpf.Adorners" version="2.1.1" targetFramework="net472" />
  <package id="Konscious.Security.Cryptography.Argon2" version="1.2.1" targetFramework="net472" />
  <package id="Konscious.Security.Cryptography.Blake2" version="1.0.9" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.3" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.2.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
</packages>